/* Adding 3 different fonts */
@font-face {
  font-family: 'berthold_akzidenz_groteskBdex';
  src: url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff2') format('woff2'),
       url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'callunalight';
  src: url('../fonts/calluna-light-webfont.woff2') format('woff2'),
       url('../fonts/calluna-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'callunaregular';
  src: url('../fonts/calluna-regular-webfont.woff2') format('woff2'),
       url('../fonts/calluna-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'callunasemibold';
  src: url('calluna-semibold-webfont.woff2') format('woff2'),
       url('calluna-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Site wide CSS reset */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  height: 100%;
}

/* Set max width and center the container in center, special for styleguide containers */
.standard-max-width-center-elements {
  max-width: 1000px;
  margin: 0 auto !important;
  float: none !important;
  padding-bottom: 3rem;
}

#logo-text {
  font-family: 'berthold_akzidenz_groteskBdex';
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  padding-right: 3rem;
}

#logo {
  min-width: 48px;
}

#logo-text-styleguide {
  font-family: 'berthold_akzidenz_groteskBdex';
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  padding-right: 3rem;
}

.home-bio {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 200;
  max-width: 340px;
  line-height: 140%;
}

.description-container {
  max-width: 100%;
  padding-left: 2rem;
  padding-top: 1.5rem;
  position: absolute;
  display: flex;
  flex: nowrap;
  opacity: 0;
  transition-duration: 300ms;
}

/* Outer side of nav */
header {
  max-width: 100% !important;
  background-color: #000000;
  flex-wrap: wrap;
}

/* Nav content container. Using flexbox to align items left middle and right on nav using 3 coumn 1 row grid  */
nav {
  max-width: 1280px;
  margin: 0 auto 0 auto !important;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 64px;
  background: #000000;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
}

.header-left {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
}

.header-right {
  text-align: right;
  grid-area: 1 / 3 / 2 / 4;
}

.header-right a {
  margin-left: 3em;
}

/* Nav text style */
.nav-link {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300 !important;
  line-height: 2em;
  color: #ffffff !important;
  opacity: 0.5;
  text-decoration: none;
  transition-duration: 300ms;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  text-decoration: none;
}

.nav-current {
  color: #ffffff !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

/* This class is the standard for containers that sex a max width and center align the block in the page  */
.standard-container {
  max-width: 1080px;
  margin: 0 auto !important;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* A class to set image to display its max width within its container*/
.image-container {
  max-width: 100%;
  padding-bottom: 3rem;
}

/* Needed an add on class to limit how tall the image can be display for vertial images*/
.image-vertical {
  max-height: 800px;
}

/* Set by 2 by 2 grid  */
.two-two-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 12px;
   grid-row-gap: 12px;
}

.two-two-grid-styleguide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wide-container {
  max-width: 1880px;
  margin: 0 auto !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 10rem;
}

.work-item-default-style {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  min-height: 500px;
  transition-duration: 300ms;
}

.thumbnail-container {
  display: block;
  padding: 1rem;
  transition: 0.3s;
}

.thumbnail-large {
  max-width: 90%;
}

.thumbnail-medium {
  max-width: 70%;
}

.thumbnail-small {
  max-width: 40%;
}

.messenger { 
  grid-area: 2 / 2 / 3 / 3;
}

.messenger:hover {
  background-color: #FFFFFF;
}

.messenger:hover > .description-container {
  opacity: 1;
}

.ifttt { 
  grid-area: 1 / 1 / 2 / 3;
}

.ifttt:hover {
  background-color: #0099FF;
}

.ifttt:hover > .description-container {
  opacity: 1;
}

.num { 
  grid-area: 2 / 1 / 3 / 2;
}

.num:hover { 
  background-color: #8EC8FD;
}

.num:hover > .description-container {
  opacity: 1;
}

hr.home-divider {
  height: 2px; 
  border:none; 
  color:#000; 
  background-color: rgba(255, 255, 255, 0.15);
  width: 20%; 
  text-align: center; 
  margin: 5rem auto 5rem auto;
}

.exp {
  text-align: left;
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.exp-description { 
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  min-height: 400px;
  grid-area: 1 / 1 / 2 / 2; 
  transition-duration: 300ms;
}

.exp-description-container {
  background: rgb(255, 79, 79);
  max-width: 600px;
}

.exp-logo { 
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 400px;
  grid-area: 1 / 2 / 2 / 3; 
}

.exp-style {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  min-height: 400px;
  transition-duration: 300ms;
}

/* Link color */
.div-link {
  text-decoration: none;
}

a:link {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-family: 'Inter';
  font-size: 1em;
}

/* Hover state change link color */
a:hover {
  color: #38A6ED !important;
}

a:visited {
  text-decoration: none;
}


/*
  TEXT ELEMENTS -------------------
*/
h1 {
  font-family: 'Inter';
  font-size: 2.5em;
  padding-bottom: 4rem;
  font-weight: 500;
}

h2 {
  font-family: 'Inter';
  font-size: 1.75em;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h3 {
  font-family: 'Inter';
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-family: 'Inter';
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-bottom: 2em;
}

p {
  font-family: 'callunalight';
  font-size: 1.375em;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 2rem;
}

li {
  font-family: 'callunalight';
  font-size: 1.375em;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 0.75rem;
}

ol, ul {
  padding-left: 1.25rem;
}

.small-title-white {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding-right: 0.75rem;
  color: #ffffff;
}

.small-subtitle-white {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.86);
}

.small-title-black {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-right: 0.75rem;
  color: rgb(0, 0, 0);
}

.small-subtitle-black {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.semibold {
  font-weight: 400 !important;
}

.footer {
  left: 0;
  bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 4rem;
  width: 100%;
  background-color: #000000;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto 0 auto !important;
  padding-top: 2rem;
  padding-bottom: 8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 64px;
  text-align: center;
  background: #000000;
}

.links-container {
  padding-bottom: 2.5rem;
}

.footer-link {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300 !important;
  letter-spacing: 0.02em;
  color: #ffffff !important;
  opacity: 0.5;
  text-decoration: none;
  padding: 1.5rem;
  transition-duration: 300ms;
}

.footer-link:hover {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  text-decoration: none;
}

.citation {
  height: 70vh;
}

.outer-element {
  margin-bottom: 2rem;
  background: #FFFFFF;
  border-radius: 4px;
}

.element {
  padding-bottom: 1rem;
}


/*
  SYSTEM LEVEL RULES -------------------
*/
.width-constraint {
  max-width: 920px;
	margin: 0 auto !important;
	float: none !important;
}

/* This class centers the content of it's container */
.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  text-align: center;
  margin: auto;
}

.divider {
  border: 0.5px solid #bbb;
  margin-top: 0.25em;
  margin-bottom: 1.5rem;
}

/*
  Common Reusable Commands -------------------
*/

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.display-block-full-width {
  display: block;
  width: 100%;
}

.display-inline-full-width {
  display: inline;
  width: 100%;
}


/*
  Colors -------------------
*/
.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.black-bg {
  background-color: #000000;
}

.light-grey-bg {
  background-color: rgb(197, 197, 197);
}

.transparent-white {
  color: rgba(255, 255, 255, 0.86);
}

.black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.black-80{
  color: rgba(0, 0, 0, 0.8);
}

/*
  Text class -------------------
*/

.body-description-font {
  font-size: 0.9375em;
  max-width: 400px;
  padding-bottom: 1.5em;
}

.mid-text-padding {
  padding-bottom: 1em;
}

.mid-text-width {
  max-width: 600px !important;
}

.bold {
  font-family: 'Inter' !important;
  font-weight: 500;
}

.h1-styleguide {
  padding-bottom: 0rem;
}

.h3-styleguide {
  padding-bottom: 1rem;

}

.h4-styleguide {
  padding-bottom: 1em;
}



/*
  Responsive Rules -------------------
*/

/** CSS For mobile devices **/
@media (max-width: 560px) {

  nav {
    padding-bottom: 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .header-left {
    display: block;
    grid-area: 1 / 1 / 2 / 3;
  }

  .header-right {
    align-items: flex-start;
    text-align: left;
    grid-area: 2 / 1 / 3 / 3;
  }

  .header-right a {
    margin-left: 0em;
    margin-right: 4em;
  }

  .home-bio {
   max-width: 100%;
  }

  .two-two-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
  }

  
  .wide-container {
    max-width: 1880px;
    margin: 0 auto !important;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 12rem;
  }

  .ifttt { 
    grid-area: 1 / 1 / 2 / 2;
  }

  .num { 
    grid-area: 2 / 1 / 3 / 2;
  }

  .messenger { 
    grid-area: 3 / 1 / 4 / 2;
  }

  .thumbnail-large {
    max-width: 100%;
  }
  
  .thumbnail-medium {
    max-width: 90%;
  }
  
  .thumbnail-small {
    max-width: 60%;
  }

  .footer-link {
    display: block;
  }

  #logo-text {
    display: block;
    padding-bottom: 1rem;
  }

  .standard-container {
    max-width: 1080px;
    margin: 0 auto !important;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer {
    padding-top: 0rem; 
    padding-bottom: 20rem;
  }

  h1 {
    font-size: 2em;
    padding-bottom: 3rem;
  }

  p {
    font-size: 1.375em;
  }

}
