/* Adding 3 different fonts */
@font-face {
  font-family: 'berthold_akzidenz_groteskBdex';
  src: url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff2') format('woff2'),
       url('../fonts/berthold_akzidenz_grotesk_be_bold_extended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Site wide CSS reset */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

/* Set max width and center the container in center, special for styleguide containers */
.standard-max-width-center-elements {
  max-width: 1000px;
  margin: 0 auto !important;
  float: none !important;
}

#logo-text {
  font-family: 'berthold_akzidenz_groteskBdex';
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;
  padding-right: 3rem;
}

#logo {
  min-width: 48px;
}

.home-bio {
  max-width: 340px;
  line-height: 140%;
}

/* Outer side of nav */
header {
  max-width: 100% !important;
  background-color: #000000;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.description-container {
  max-width: 100%;
  padding-left: 2rem;
  padding-top: 1.5rem;
  position: absolute;
  display: flex;
  flex: nowrap;
  opacity: 0;
  transition-duration: 300ms;
}

/* Nav content container. Using flexbox to align items left middle and right on nav using 3 coumn 1 row grid  */
nav {
  max-width: 1280px;
  margin: 0 auto 0 auto !important;
  padding-top: 2rem;
  padding-bottom: 8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 64px;
  background: #000000;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
}

.header-left {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
}

.header-right {
  text-align: right;
  grid-area: 1 / 3 / 2 / 4;
}

.header-right a {
  margin-left: 3em;
}

/* Nav text style */
.nav-text {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 300 !important;
  line-height: 2em;
  color: #ffffff !important;
  opacity: 0.5;
  text-decoration: none;
}

.nav-text:hover {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  text-decoration: none;
}

.nav-current {
  color: #ffffff !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

/* This class is the standard for containers that sex a max width and center align the block in the page  */
.standard-container {
  max-width: 1080px;
  margin: 0 auto !important;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Set by 6 by 3 grid  */
.six-three-grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 12px;
   grid-row-gap: 12px;
}

.wide-container {
  max-width: 1880px;
  margin: 0 auto !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.work-item-default-style {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  min-height: 500px;
  transition-duration: 300ms;
}

.thumbnail-container {
  max-width: 40%;
  display: block;
  transition: 0.3s;
}

.thumbnail-large {
  max-width: 90%;
  display: block;
}

.messenger { 
  grid-area: 1 / 1 / 2 / 3; 
}

.messenger:hover {
  background-color: #FFFFFF;
}

.messenger:hover > .description-container {
  opacity: 1;
}

.ifttt { 
  grid-area: 1 / 3 / 2 / 7; 
}

.ifttt:hover {
  background-color: #0099FF;
}

.ifttt:hover > .description-container {
  opacity: 1;
}

.techcrunch { 
  grid-area: 2 / 1 / 3 / 4; 
}

.techcrunch:hover { 
  background-color: #ECC04B;
}

.num { 
  grid-area: 2 / 4 / 3 / 7; 
}

.num:hover { 
  background-color: #8EC8FD;
}

.infin { 
  grid-area: 3 / 1 / 4 / 5; 
}

.restocks { 
  grid-area: 3 / 5 / 4 / 7; 
}

hr.home-divider {
  height: 2px; 
  border:none; 
  color:#000; 
  background-color: rgba(255, 255, 255, 0.15);
  width: 20%; 
  text-align: center; 
  margin: 5rem auto 5rem auto;
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.exp-description { 
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  min-height: 400px;
  grid-area: 1 / 1 / 2 / 2; 
  transition-duration: 300ms;
}

.exp-logo { 
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 400px;
  grid-area: 1 / 2 / 2 / 3; 
}

.exp-style {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  min-height: 400px;
  transition-duration: 300ms;
}

/* Link color */
.product-listing-link {
  color: #000000;
  text-decoration: none;
}

a:link {
  color: #38A6ED;
  font-weight: 500;
  font-family: 'Inter';
  font-size: 1em;
}

/* Hover state change link color */
a:hover {
  color: #38A6ED !important;
}

a:visited {
  text-decoration: none;
}


/*
  TEXT ELEMENTS -------------------
*/
h1 {
  font-family: 'callunasemibold';
  font-size: 2.5em;
  padding-bottom: 1.25rem;
}

h2 {
  font-family: 'Inter';
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.08em;
}

h4 {
  font-family: 'Inter';
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding-bottom: 3em;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 200;
}

.small-title-white {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding-right: 0.75rem;
  color: #ffffff;
}

.small-subtitle-white {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.86);
}

.small-title-black {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-right: 0.75rem;
  color: rgb(0, 0, 0);
}

.small-subtitle-black {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.semibold {
  font-weight: 400 !important;
}


.footer {
  left: 0;
  bottom: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 6rem;
  width: 100%;

  background-color: #000000;
  flex-wrap: wrap;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto 0 auto !important;
  padding-top: 2rem;
  padding-bottom: 8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 64px;
  background: #000000;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px; 
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  grid-area: 1 / 1 / 2 / 5;
}

.footer-middle {
  text-align: center;
  grid-area: 1 / 5 / 2 / 6;
}

.footer-right {
  text-align: right;
  grid-area: 1 / 6 / 2 / 10;
}

.footer-text {
  font-family: 'Inter';
  font-size: 1em;
  font-weight: 500 !important;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
}

/*
  SYSTEM LEVEL RULES -------------------
*/
.width-constraint {
  max-width: 920px;
	margin: 0 auto !important;
	float: none !important;
}

/* This class centers the content of it's container */
.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  text-align: center;
  margin: auto;
}

.divider {
  border: 0.5px solid #bbb;
  margin-bottom: 1.5rem;
}

/*
  Common Reusable Commands -------------------
*/

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.display-block-full-width {
  display: block;
  width: 100%;
}

.display-inline-full-width {
  display: inline;
  width: 100%;
}


/*
  Colors -------------------
*/
.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.transparent-white {
  color: rgba(255, 255, 255, 0.86);
}

.transparent-black {
  color: rgba(0, 0, 0, 0.86);
}


/*
  Text class -------------------
*/

.body-description-font {
  font-size: 0.9375em;
  max-width: 400px;
  padding-bottom: 1.5em;
}

.mid-text-padding {
  padding-bottom: 1em;
}

.mid-text-width {
  max-width: 600px !important;
}


/*
  Responsive Rules -------------------
*/

@media (max-width: 640px) {
  
}

/** CSS For mobile devices **/
@media (max-width: 380px) {

}
